---
import Layout from '../layouts/Layout.astro';

const pageTitle = "credits";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="Grateful Doguri" src="/GratefulDoguri.webp"/>
    </div>
    <h2>This portfolio exists thanks to :</h2>
    <p>
        <ul>
            <li><a href="https://www.instagram.com/doguri_official/">Doguri</a> - the portfolio mascot</li>
            <li><a href="https://astro.build/">Astro 🚀</a> - the web framework</li>
            <li><a href="https://tristentomczak.me/">Tristen Tomczak</a> - my portfolio is based on v1.0.0 of his <a href="https://github.com/ttomczak3/Milky-Way">Milky-Way🌌</a> template</li>
            <li><a href="https://openmoji.org/">OpenMoji</a> - emojis design </li>
            <li></li>
        </ul>
    </p>
</Layout>

<style>
    li{
        list-style-type: trad-chinese-informal;
    }
</style>