---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Luigi";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="Space Doguri" src="/SpaceDoguri.webp"/>
    </div>

    <h1>Luigi J.</h1>

    <small>Web Developer</small>
    <div class="socials">
        <a href="https://github.com/luigidotmoe"><img width="46" height="46" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="GitHub" title="GitHub"></a>
        <a href="https://linkedin.com/in/luigidotmoe"><img width="46" height="46" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg" alt="LinkedIn" title="LinkedIn"></a>    
    </div>

    <h2>About</h2>
    <p>
        I took my first steps into coding back in the late 2000s, fueled by a passion for creating new content for my favorite childhood 
        games (Metin2, Minecraft, Dofus). This passion led me to explore various development community forums, 
        and immersing myself in these online spaces ignited a curiosity about the underlying mechanisms that powered these forums. 
        Consequently, years later, I embarked on a journey to become a Web Developer.
    </p>
    <div class="button">
        <a href="/projects/">
            <button>My projects</button>
        </a>
    </div>

    <h2>Skills</h2>
	<h3>Front-end</h3>
    <div class="link-images">
        <a href="https://en.wikipedia.org/wiki/HTML5"><img width="46" height="46" alt="HTML" title="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/></a>
        <a href="https://en.wikipedia.org/wiki/CSS"><img width="46" height="46" alt="CSS" title="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/></a>
		<a href="https://tailwindcss.com/"><img width="46" height="46" alt="TailwindCSS" title="TailwindCSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"/></a>
        <a href="https://getbootstrap.com/"><img width="46" height="46" alt="Bootstrap" title="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"/></a>
		<a href="https://sass-lang.com/"><img width="46" height="46" alt="Sass" title="Sass" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg"/></a>
        <a href="https://en.wikipedia.org/wiki/JavaScript"><img width="46" height="46" alt="JavaScript" title="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"/></a>
		<a href="https://vuejs.org/"><img width="46" height="46" alt="VueJS" title="VueJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg"/></a>
		<a href="https://react.dev/"><img width="46" height="46" alt="React" title="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/></a>
	</div>
	<h3>Back-end</h3>
	<div class="link-images">
		<a href="https://www.mysql.com/"><img width="46" height="46" alt="MySQL" title="MySQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"/></a>
        <a href="https://www.postgresql.org/"><img width="46" height="46" alt="PostgreSQL" title="PostgreSQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"/></a>
        <a href="https://firebase.google.com/"><img width="46" height="46" alt="Firebase" title="Firebase" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original.svg"/></a>
        <a href="https://supabase.com/"><img width="46" height="46" alt="Supabase" title="Supabase" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/supabase/supabase-original.svg"/></a>
		<a href="https://www.php.net/"><img width="46" height="46" alt="PHP" title="PHP" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-plain.svg"/></a>
        <a href="https://symfony.com/"><img width="46" height="46" alt="Symfony" title="Symfony" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/symfony/symfony-original.svg"/></a>
	</div>
	<h3>Misc.</h3>
	<div class="link-images">
		<a href="https://git-scm.com/"><img width="46" height="46" alt="Git" title="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/></a>
		<a href="https://staruml.io/"><img width="46" height="46" alt="UML with StarUML" title="UML with StarUML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unifiedmodelinglanguage/unifiedmodelinglanguage-original.svg"/></a>
		<a href="https://www.figma.com/"><img width="46" height="46" alt="Figma" title="Figma" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg"/></a>
		<a href="https://www.cypress.io/"><img width="46" height="46" alt="Cypress" title="Cypress" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cypressio/cypressio-original.svg"/></a>
		<a href="https://www.postman.com/"><img width="46" height="46" alt="Postman" title="Postman" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original.svg"/></a>
		<a href="https://httpd.apache.org/"><img width="46" height="46" alt="Apache" title="Apache" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/apache/apache-original.svg"/></a>
		<a href="https://www.linux.org/"><img width="46" height="46" alt="Linux" title="Linux" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg"/></a>
		<a href="https://www.docker.com/"><img width="46" height="46" alt="Docker" title="Docker" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"/></a>
	</div>

    <h2>Interests</h2>
    <p>
        Consuming way too much media of all kinds: Manga, Comics, Video Games, Books, Movies, Shows...
    </p>
    <p>
        I'm currently preparing the development of a project to backlog all this media consumption into a centralized app, 
        replacing my current stack of trackers that are often specialized in one media type.
    </p>
</Layout>

<style>

    /* small */
    small {
        background-color: #584966;
        color: #fdebf3;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
        margin bottom:;
    }

    /* socials div */
    .socials {
        margin-top: 1%;
    }
	.socials img:hover {
		transform: scale(1.1);
	}

    /* Button */
    button {
        background: rgba(0,0,0,0);
        border: 2px solid #584966;
        border-radius: 8px;
        color: #1e1e2e;
        font: 600 16px 'Josefin Sans', sans-serif;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }
    
    button:hover {
        background-color: #584966;
        color: #fdebf3  ;
        cursor: pointer;
    }

    .button {
        text-align: center;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

	.link-images img:hover {
		transform: scale(1.3);
	}

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
