---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Projects";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="Error Doguri" src="/ErrorDoguri.webp"/>
    </div>
    <h2>My Projects</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/luigidotmoe/AIOMT"
            image="/AIOMT.webp"
            title="AIOMT"
            body="[WIP] It's my first big project, a FOSS Self-Hostable Media Tracker for all kind of media"
        />
        <Card
            href="https://github.com/luigidotmoe/AdrarClassroom"
            image="/AdrarClassroom.png"
            title="AdrarClassroom"
            body="[WIP] Collaborative School Project aiming to create an OpenClassroom-like website for our school"
        />
    </ul>
    <h2>Contributions</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/stars/luigidotmoe/lists/french-i18n"
            image="/i18n-logo.png"
            title="Localizing projects"
            body="You'll find here the list of projects I'm contributing to for the French localization."
        />
    </ul>
</Layout>
