---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const pageTitle = "Projects";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img
            width="300"
            height="259"
            alt="Error Doguri"
            src="/ErrorDoguri.webp"
        />
    </div>

    <h2>My Projects</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/luigidotmoe/luigidotmoe-web"
            image="/dotmoe.webp"
            title="luigi.moe"
            body="The portfolio website that you are currently browsing."
        />
        <Card
            href="https://github.com/luigidotmoe/AIOMT"
            image="/AIOMT.webp"
            title="AIOMT"
            body="[WIP - Private repo] It's my first big project, a FOSS Self-Hostable Media Tracker for all kind of media."
        />
    </ul>

    <h2>Contributions</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://github.com/VueTorrent/VueTorrent"
            image="/VueTorrent.webp"
            title="VueTorrent"
            body="French localization"
        />
    </ul>
</Layout>
