<div class="nav-bar">
    <div class="title-link">
        <a href="/">⭐luigidotme⭐</a>
    </div>
    <div class="nav-links">
        <a href="/projects/">Projects</a>
        <!-- <a href="/posts/">Posts</a> -->
    </div>
</div>
